
body {
    background-color: #f0f0f0; 
    margin: 0; 
    padding: 0; 
    font-family: Georgia, serif;
}


header {
    background-color: #135D66; 
    color: #B6C4B6; 
    padding: 10px;
    text-align: center; 
}


nav {
    background-color: #B6C4B6; 
    padding: 1px; 
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    display: flex; 
    justify-content: center; 
    margin: 0; 
    padding: 0; 
}

nav ul li {
    margin-right: 50px; /* Space between menu items */
}

nav ul li a {
    text-decoration: none; 
    color: #135D66; 
    font-weight: bold; 
}

nav ul li a:hover {
    text-decoration: underline; 
    color:#EEF0E5;
}

main {
    background-color: #EEF0E5; 
    padding: 20px; 
    min-height: 650px; 
    box-sizing: border-box; 
    font-family: Georgia, serif;
}


footer {
    background-color: #135D66; 
    color: #B6C4B6; 
    padding: 10px; 
    text-align: center; 
}


button{
    text-decoration: underline; 
    color: #217884; /* Link text color */
    font-weight: bold; /* Bold text */
    background:none;
    border: none;
    text-align: left; 
    font-size: 15px;
}

namest{
    color: #135D66; /* Link text color */
    font-weight: bold;
    font-size: 20px;
}