.btn-primary {
    cursor: pointer;
    border:none;
    padding: 5px 10px; 
    font-size: 20px; 
    text-decoration: none; 
    margin-left: -10px;
    margin-top: 7px;
    background-color:#135D66 ; 
    color:white;
}

.container {
    margin-top: 5rem;
}

.card {
    background-color: #B6C4B6;
}

.card h1 span {
    color: #135D66;
}

.alert {
    color: rgb(233, 85, 85);
}